body {
    background-color: #f8dda4; /* Orange Hintergrund */
  }
  
  .quiz-container {
    width: 500px;
    margin: 0 auto;
    padding: 20px;
    background-color: white;
    border: 6px solid #000; /* Schwarzer Rahmen */
    border-radius: 10px;
    text-align: center;
  }
  
  h2 {
    font-family: "Arial", sans-serif; /* Schriftart */
    font-size: 24px;
    font-weight: bold;
  }
  
  p {
    font-family: "Arial", sans-serif;
    font-size: 16px;
  }
  
  input[type="radio"] {
    display: block; /* Anordnung der Radio-Buttons als Blockelemente */
    margin: 10px auto; /* Zentrierte Ausrichtung der Radio-Buttons */
  }
  
  label {
    font-family: "Arial", sans-serif;
    font-size: 16px;
  }
  
  button {
    margin-top: 10px;
    font-family: "Arial", sans-serif;
    font-size: 16px;
    padding: 8px 16px;
    background-color: #000000;
    color: white;
    border: none;
    border-radius: 4px;
  }
  
  button:hover {
    background-color: #333333;
    cursor: pointer;
  }
  
  
  
  button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: "Arial", sans-serif;
  }
  
  button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }
  
  .quiz-result {
    margin-top: 20px;
    padding: 10px;
    background-color: #4caf50;
    color: white;
    border-radius: 5px;
    font-family: "Arial", sans-serif;
  }
  
  
  