
    <div class="login">
      <div class="login__content">
      
          <form>
            <h1 class="headline">Anmelden</h1>
            <div class="Anmeldung">
              <label class="Email" htmlFor="email"> Benutzername oder E-Mail-Adresse</label>
              <input
                class="Benutzername_input"
                id="email"
                type="text"
                placeholder="Deine E-Mail-Adresse"
              />
            </div>
            <div class="Passwort">
              <label class="Passwort_Label" htmlFor="Passwort"> Passwort </label>
              <input
                class="Passwort_input"
                id="passwort"
                type="passwort"
                placeholder="Dein Passwort"
              />
            </div>
            
            <div class="button_login">
              <button
                class="button_input"
                type="button"
              >
                Anmelden
              </button>
            </div>
          </form>
          <div class="Passwort_Vergessen">
            <a href="#" class="Passwort_aendern">Passwort vergessen?</a>
          </div>
          <div class="Kein_Benutzerkonto">
            <span class="Benutzerkonto?">Noch kein Benutzerkonto?</span>
            <a href="http://localhost:4200/registrierung" class="Zur_Registrierung_wechseln">Registrieren</a>
          </div>
          <div class="zurück">
            <a [routerLink]="['/home']"  class="Zur_Startseite_wechseln"><svg class="material-icons" xmlns="h-4 w-4 leading-4 text-lg mr-2">keyboard_backspace</svg>Zurück zur Startseite</a>
          </div>
        </div>
    </div>
