<div class="form-container">
  <h2>Terminformular</h2>

  <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="tiername">Tiername</label>
      <input type="text" class="form-control" id="tiername" formControlName="tiername" [placeholder]="tiername" [disabled]="true" required>
    </div>

    <div class="form-group">
      <label for="tierrasse">Tierrasse</label>
      <input type="text" class="form-control" id="tierrasse" formControlName="tierrasse" [placeholder]="breed" [disabled]="true" required>
    </div>

    <div class="form-group">
      <label for="kundenIDInput">KundenID</label>
      <input type="text" class="form-control" id="kundenIDInput" formControlName="kundenIDInput" [placeholder]="authService.kundenID" [disabled]="true" required>
    </div>

    <div class="form-group">
      <label for="emailInput">E-Mail</label>
      <input type="email" class="form-control" id="emailInput" formControlName="emailInput" [placeholder]="authService.email" [disabled]="true" required>
    </div>

    <div class="form-group">
      <mat-form-field>
        <mat-label>Choose a date</mat-label>
        <input matInput [matDatepicker]="picker" [matDatepickerFilter]="pickerFilter" [min]="minDate" formControlName="date">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>      
      <div *ngIf="userForm.controls['date'].errors?.['forbiddenDays']" class="validation-error">
        Es können keine Termine am Wochenende verienbart werden.
      </div>
    </div>
    
    <button type="submit" class="btn btn-primary" [disabled]="!userForm.valid">Senden</button>
  </form>
</div>
