
<div class="container" style="display: flex; align-items: stretch;">
  <div class="row">
    <div class="col-12 mb-4" *ngFor="let animal of tierheimtiere.animals">
      <div class="card">
        <div class="row g-0">
          <div class="col-md-4">
            <div class="card-img-container">
              <img [src]="animal.image" class="img-fluid rounded-start card-img" alt="Bild von {{animal.tiername}}">
            </div>
          </div>
          <div class="col-md-4">
            <div class="card-body">
              <h5 class="card-title">{{animal.type}}: {{animal.tiername}}</h5>
              <p class="card-text"><b>Rasse:</b> {{animal.breed}}</p>
              <p class="card-text"><b>Geschlecht:</b> {{animal.gender}}</p>
              <p class="card-text"><b>Alter:</b> {{animal.age}}</p>
              <button class="termin" (click)="logAnimal(animal); openFormular(animal.tiername, animal.breed, animal.tierID)">Jetzt Besuchstermin anfragen</button>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card-body">
              <p class="card-text"><b>Beschreibung:</b> {{animal.description}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
