<form [formGroup]="meinFormular" (ngSubmit)="submitForm()">
  <div class="container">
    <div class="containerbla">
        <h1>Registrierung</h1>
        <p>Bitte füllen sie den Registrierungsbogen aus, um sich zu registrieren.</p>
    </div>
    
    <hr>

    <div class="containerlinks">
      <label for="Vorname"><b>Vorname</b></label><br>
     <label for="Nachname"><b>Nachname</b></label><br>
      <label for="Benutzername"><b>Benutzername</b></label><br>
      <label for="Geburtstag"><b>Geburtstag</b></label><br>
      <label for="Telefonnummer"><b>Telefonnummer</b></label><br>
      <label for="Email"><b>Email-Adresse</b></label><br>
      <label for="Passwort"><b>Passwort</b></label><br>
      <label for="Passwort wiederholen"><b>Wiederholen Sie ihr Passwort</b></label><br>
      <label for="Straße"><b>Straße</b></label><br>
      <label for="Hausnummer"><b>Hausnummer</b></label><br>
      <label for="PLZ"><b>Postleitzahl</b></label><br>
      <label for="Stadt"><b>Stadt</b></label><br>
    </div>

    <div class="containerrechts">
      <input type="text" class="form-control" formControlName="Vorname" required><br>
      <input type="text" class="form-control" formControlName="Nachname" required><br>
      <input type="text" class="form-control" formControlName="Benutzername" required><br>
      <input type="date" class="form-control" formControlName="Geburtstag"><br>
      <input type="tel" class="form-control" formControlName="Telefonnummer" required><br>
      <input type="email" class="form-control" formControlName="Email" required><br>
      <input type="password" class="form-control" formControlName="Passwort" required><br>
      <input type="password" class="form-control" formControlName="Passwort wiederholen" required><br>
      <input type="text" class="form-control" formControlName="Straße" required><br>
      <input type="number" class="form-control" formControlName="Hausnummer" required><br>
      <input type="number" class="form-control" formControlName="PLZ" required><br>
      <input type="text" class="form-control" formControlName="Stadt" required><br>
    </div>
  
    <hr>
  
    <div class="containerlogin">
      <p>Mit dem Erstellen eines Accountes stimmen sie unseren Terms & Privacy zu.</p>
      <button type="submit" class="registerbtn" [disabled]="!meinFormular.valid">Registrieren</button>
      <p>Haben Sie schon einen Account? Einloggen.</p>
    </div>
  </div>
</form>