<div class="warenkorb-container">
  <h2>Warenkorb</h2>
  <div *ngIf="warenkorb.length === 0" class="empty-cart">
    Der Warenkorb ist leer.
  </div>
  <div *ngFor="let artikel of warenkorb" class="warenkorb-artikel">
    <img [src]="artikel.bild" alt="Produktfoto">
    <p>{{ artikel.Bezeichnung }} - Anzahl: {{ artikel.quantity }} - Preis: {{ (artikel.Preis * artikel.quantity) | currency:'EUR' }}</p>
  </div>
  <div *ngIf="warenkorb.length > 0" class="gesamtsumme">
    Gesamtsumme: {{ getGesamtsumme() | currency:'EUR' }}
  </div>
  <div class="zahlungsmethoden">
    <h3>Zahlungsmethoden</h3>
    <ul>
      <li>
        <label>
          <input type="radio" name="zahlungsmethode" value="Überweisung" (click)="zahlungsmethodeAuswaehlen('Überweisung')">
          Überweisung
        </label>
      </li>
      <li>
        <label>
          <input type="radio" name="zahlungsmethode" value="Rechnung" (click)="zahlungsmethodeAuswaehlen('Rechnung')">
          Rechnung
        </label>
      </li>
      <li>
        <label>
          <input type="radio" name="zahlungsmethode" value="Klarna" (click)="zahlungsmethodeAuswaehlen('Klarna')">
          Klarna
        </label>
      </li>
      <!-- Weitere Zahlungsmethoden hier hinzufügen -->
    </ul>
  </div>
  <div class="bestellart">
    <h4>Bestellart</h4>
    <ul>
      <li>
        <label>
          <input type="radio" name="bestellart" value="Reservierung zur Abholung" (click)="bestellmethodeAuswaehlen('Reservierung zur Abholung')">
          Reservierung zur Abholung
        </label>
      </li>
      <li>
        <label>
          <input type="radio" name="bestellart" value="Bestellung zur Abholung" (click)="bestellmethodeAuswaehlen('Bestellung zur Abholung')">
          Bestellung zur Abholung
        </label>
      </li>
      <li>
        <label>
          <input type="radio" name="bestellart" value="Bestellung mit Lieferservice" (click)="bestellmethodeAuswaehlen('Bestellung mit Lieferservice')">
          Bestellung mit Lieferservice
        </label>
      </li>
    </ul>
  </div>
</div>
