<!--Bindet den Header ein-->
<app-header></app-header>

<!--Bindet den Kontent der Seite ein. Dieser wechselt sich beim Klicken auf die Navbar und andere-->
<ul>
    <li><a routerLink="">Home</a></li>
    <li><a routerLink="login">Login</a></li>
    <!--<li><routerLink="registrierung-component">Registrierung</routerLink></li>-->
    <li><a routerLink="produktkatalog">Shop</a></li>
    <li><a routerLink="events">Events</a></li>
    <li><a routerLink="tierheimtiere">Tierheimtiere</a></li>
    <li><a routerLink="quiz">Quiz</a></li>
</ul>

<router-outlet></router-outlet>


<!--Bindet den Footer ein-->
<app-footer></app-footer>
