<p>ersatzfuerreg works!</p>

<form [formGroup]="registerForm" (ngSubmit)="onSubmit()" class="registration-form">
  <div class="container">
    <div class="container-registration">
      <h1>Registrieren</h1>
    </div>
    <hr>
    <div class="form-group">
      <label>Benutzername</label>
      <input type="text" formControlName="Benutzername" class="form-control" />
      <small class="form-text text-muted">Nur Buchstaben erlaubt.</small>
    </div>
    <div class="form-group">
      <label>Nachname</label>
      <input type="text" formControlName="Nachname" class="form-control" />
    </div>
    <div class="form-group">
      <label>Vorname</label>
      <input type="text" formControlName="Vorname" class="form-control" />
    </div>
    <div class="form-group">
      <label>Geburtsdatum</label>
      <input type="date" formControlName="Geburtsdatum" class="form-control" />
    </div>
    <div class="form-group">
      <label>Telefonnummer</label>
      <input type="text" formControlName="Telefonnummer" class="form-control" maxlength="8" />
      <small class="form-text text-muted">Gültige Telefonnummernformate: Nur Zahlen und eine Null davor. Keine Sonderzeichen.</small>
    </div>
    <div class="form-group">
      <label>E-Mail</label>
      <input type="email" formControlName="EMail" class="form-control" />
    </div>
    <div class="form-group">
      <label>Passwort</label>
      <input type="password" formControlName="Passwort" class="form-control" />
      <small class="form-text text-muted">Muss mindestens einen Großbuchstaben, einen Kleinbuchstaben, eine Zahl und ein Sonderzeichen enthalten.</small>
    </div>
    <div class="form-group">
      <label>Straße</label>
      <input type="text" formControlName="Straße" class="form-control" />
      <small class="form-text text-muted">Nur Buchstaben, Bindestriche, Punkte und Leerzeichen sind erlaubt.</small>
    </div>
    <div class="form-group">
      <label>Hausnummer</label>
      <input type="text" formControlName="Hausnummer" class="form-control" />
      <small class="form-text text-muted">Nur Zahlen erlaubt.</small>
    </div>
    <div class="form-group">
      <label>Stadt</label>
      <input type="text" formControlName="Stadt" class="form-control" />
      <small class="form-text text-muted">Nur Buchstaben und Leerzeichen erlaubt.</small>
    </div>
    <div class="form-group">
      <label>PLZ</label>
      <input type="text" formControlName="PLZ" class="form-control" maxlength="5" />
      <small class="form-text text-muted">Muss genau 5 Ziffern enthalten.</small>
    </div>
    <div class="form-group">
      <button type="submit" [disabled]="!registerForm.valid" class="submit-button">Registrieren</button>
    </div>
  </div>
</form>
