.card-container {
  display: flex;
  flex-wrap: wrap;
}

.card {
  width: 200px;
  margin: 10px;
  padding: 10px;
  border: 1px solid #ccc;
}

.card img {
  width: 100%;
}

.order-form {
  margin-top: 10px;
}

.order-form input {
  width: 50px;
}

.order-form button {
  background-color: #813045;
  color: #F8DDA4;
  border-radius: 5px; 
  border-color: #813045;
}

.warenkorb-container {
  position: fixed;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
  border: 1px solid #ccc;
  padding: 10px;
}

.empty-cart {
  text-align: center;
}

.warenkorb-artikel {
  margin-bottom: 5px;
}

.gesamtsumme {
  margin-top: 10px;
  font-weight: bold;
}

.bezahlen-button {
  display: block;
  margin-top: 10px;
  padding: 5px 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
}

.bezahlen-button:hover {
  background-color: #0056b3;
}
