.containerlinks{ grid-area: links;}
.containerrechts{ grid-area: rechts;}
.containerlogin{
    grid-area: login;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    
.containerbla{grid-area: oben;}
.container {
    display: grid;
    grid-template-areas:
        'oben oben'
        'links rechts'
        'login login';
}
button {
    background-color: #813045;
    color: #F8DDA4;
    border-radius: 50px; 
    border-color: #813045;
  }
  
  input{
    background-color: #F8DDA4;
    color:#813045;
    border-color: #813045;
    border-radius: 25px; 
  
  }
  h1{
    color:#813045;
  }
  label{
    color:#813045;
  }

  .register-link {
    color:#813045;
}
