<form action="registrierung.component.html">
    <div class="container">
      <h1>Registrieren</h1>
      <p>Bitte füllen sie den Registrierungsboden aus um sich zu registrieren.</p>
      <hr>
      
      <label for="Vorname"><b>Vorname</b></label>
      <input type="text" name="Vorname" id="Vorname" required><br>
      
      <label for="Nachname"><b>Nachname</b></label>
      <input type="text" name="Nachname" id="Nachname" required><br>

      <label for="Benutzername"><b>Benutzername</b></label>
      <input type="text" name="Benutzername" id="Benutzername" required><br>

      <label for="Geburtstag"><b>Geburtstag</b></label>
      <input type="date" name="Geburtstag" id="Geburtstag"><br>
      
      <label for="Telefonnummer"><b>Telefonnummer</b></label>
      <input type="tel" name="Telefonnummer" id="Telefonnummer" required><br>

      <label for="Email"><b>Email-Adresse</b></label>
      <input type="text" name="Email" id="Email" required><br>
  
      <label for="Passwort"><b>Passwort</b></label>
      <input type="passwort" name="Passwort" id="Passwort" required><br>
  
      <label for="Passwort wiederholen"><b>Wiederholen Sie ihr Passwort</b></label>
      <input type="passwort" name="Passwort wiederholen" id="Passwort wiederholen" required><br>
      
      <label for="Straße"><b>Straße</b></label>
      <input type="text" name="Straße" id="Straße" required><br>

      <label for="Hausnummer"><b>Hausnummer</b></label>
      <input type="number" name="Hausnummer" id="Hausnummer" required><br>

      <label for="PLZ"><b>Postleitzahl</b></label>
      <input type="number" name="PLZ" id="PLZ" required><br>

      <label for="Stadt"><b>Stadt</b></label>
      <input type="text" name="Stadt" id="Stadt" required><br>

      <hr>
  
      <p>Mit dem Erstellen eines Accountes stimmen sie unseren <a href="#">Terms & Privacy</a> zu.</p>
      <button type="submit" class="registerbtn">Registrieren</button>
    </div>
  
    <div class="container login">
      <p>Haben Sie schon einen Account? <a href="http://localhost:4200/">Einloggen</a>.</p>
    </div>
  </form>

<p>sign-up works!</p>
